#juego
{
  position:relative;
  width:600px;
  height:600px;
  background-color: green;
  border:5px solid green;
}
.pieza
{
  position:absolute;
  width:200px;
  height:200px; 
  background-position:center center;
  background-size: cover;
  outline:1px solid green;
  transition: all .1s ease-in-out;
}